<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="blackText">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="blackText">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <div class="padding-top-20">
    <ion-item>
      <ion-label class="fontt">Nombre</ion-label>
      <ion-input class="right" [(ngModel)]="nombre" type="text" value="{{nombre}}"></ion-input>
    </ion-item>

    <ion-item class="padding-top-5">
      <ion-label class="fontt">Teléfono</ion-label>
      <ion-input class="right" [(ngModel)]="telefono" value="{{telefono}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="fontt">Contraseña</ion-label>
      <ion-input class="right" [(ngModel)]="contrasena" type="text" value="{{contrasena}}"></ion-input>
    </ion-item>

  </div>

    <div class="padding-top-30 center">
      <ion-button class="new-background" (click)="verificar()">Actualizar</ion-button>
    </div>
</ion-content>
