<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="blackText">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="blackText">Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="center padding-top-10">
    <ion-item routerLink="/add-pedido">
      <div class="bold padding-left-40">Añadir pedido</div>
      <ion-icon name="add-circle" class="padding-right-40" slot="end"></ion-icon>
    </ion-item>
  </div>
  
   <div class="center padding-top-20">
     <ion-grid *ngFor="let pedido of pedidos">
       <ion-row>
        <ion-col class="colGris center mCol">
          Pedido No.
        </ion-col>
        <ion-col class="bold left">
         {{pedido.idPedido}}
        </ion-col> 
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Producto
        </ion-col>
        <ion-col class="left">
         {{pedido.tipoProducto}}
        </ion-col>
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Fecha
        </ion-col>
        <ion-col class="left">
         {{pedido.fecha}}
        </ion-col>
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Hora
        </ion-col>
        <ion-col class="left">
         {{pedido.hora}}
        </ion-col>
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Cantidad
        </ion-col>
        <ion-col class="left">
         {{pedido.cantidad}}
        </ion-col>
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Precio
        </ion-col>
        <ion-col class="left">
         {{pedido.precio}}
        </ion-col>
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Total
        </ion-col>
        <ion-col class="left">
         {{pedido.total}}
        </ion-col>
       </ion-row>

       <ion-row>
        <ion-col class="colGris center mCol">
          Detalles
        </ion-col>
        <ion-col class="left">
         {{pedido.notas}}
        </ion-col>
       </ion-row>
 
       <ion-row>
        <ion-col class="colGris center mCol">
          Estado
        </ion-col>
         <ion-col class="left">
          {{pedido.estado}}
           <ion-row class="left">
            <ion-button (click)="presentAlertEntregar(pedido)" size="small" color="success">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="actualizar( pedido )" size="small" class="new-background">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-row>
         </ion-col>
       </ion-row>
     </ion-grid>
   </div>
</ion-content>