.new-background{
  --background: rgb(252, 184, 16);
}
.blackText{
  color: black;
}
*{
    color: black;
}
.logoMenu{
  width: 60%;
  margin: 1%;
  float: center;
}
.center {
  text-align: center
}
.left {
  text-align: left
}
.right {
  text-align: right
}
.padding-left {
  padding-left: 20px;
}
.padding-right {
  padding-right: 10px; 
}
.padding {
  padding-left: 10px;
  padding-right: 10px; 
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-right-40 {
  padding-right: 40px;
}
.no-padding {
  padding: 0px;
}
.no-padding-top {
  padding-top: 0px;
}
.bold {
  font-weight: 550
}
.light {
  font-weight: 300
}
.fontt {
  font-size: 20px;
}
.fontv {
  font-size: 12px;
}
.fontl {
  font-size: 14px;
}
.new-background-color{
  --background: #A6ACAF;
  --background-hover: #A6ACAF;
}
.gris-background{
  --background: rgb(196, 196, 196);
}
.mCol{
  min-width: 60px;
  max-width: 90px;
  padding: 5px;
}
.dCol{
  min-width: 110px;
  max-width: 120px;
  padding: 5px;
}
.hCol{
  min-width: 60px;
  max-width: 80px;
  padding: 5px;
}
.colGris{
  background-color: rgb(196, 196, 196);  
  padding: 5px;
  margin: 1px;
}
.colA{
  background-color: rgb(236, 205, 125);  
  padding: 5px;
  margin: 1px;
}