<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start" class="blackText">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="blackText">Entradas</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="center padding-top-10">
      <ion-item routerLink="/add-entrada">
        <div class="bold padding-left-40">Añadir entrada</div>
        <ion-icon name="add-circle" class="padding-right-40" slot="end"></ion-icon>
      </ion-item>
    </div>

    <div class="left bold padding-top-20 padding-left blackText">Hoy: 
      <ion-label>{{ fecha | date: 'yyyy-MM-dd'}}</ion-label></div>
  
    <div class="center padding-top-20">
      <ion-grid>
        <ion-row>
          <ion-col class="colGris center">
            Tipo
          </ion-col>
          <ion-col class="colGris center">
            Cantidad
          </ion-col>
          <ion-col class="colGris center">
            Precio
          </ion-col>
          <ion-col class="colGris center">
            Total
          </ion-col>
        </ion-row>
  
        <ion-row *ngFor="let p of prod">
          <ion-col>
            {{p.tipoProducto}}
          </ion-col>
          <ion-col>
            {{p.cantidad}}
          </ion-col>
          <ion-col>
            {{p.precio}}
          </ion-col>
          <ion-col>
            {{p.total}}
            <ion-row>
              <ion-button (click)="presentAlertConfirm(p)" size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            
          </ion-col>
          <ion-col>
            
          </ion-col>
          <ion-col class="bold colGris">
            Total: 
          </ion-col>
          <ion-col class="bold colGris">
            {{t}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

</ion-content>
