<ion-content>
  <div class="ion-padding">
   <div class="center">
    <div class="center padding-top-30">
      <img src="assets/imagenes/Logo.png" class="logo">
    </div>

    <div class="padding padding-top-10">
      <ion-item>
          <ion-label position="stacked" class="fontt bold">Usuario</ion-label>
          <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="fontt bold">Contraseña</ion-label>
        <ion-input [(ngModel)]="contra" type="password"></ion-input>
      </ion-item>
    </div>   
    <div class="padding-top-30 center fontv">
      <ion-button expand="block" shape="round" class="new-background-color bold" (click)="verificar()">Ingresar</ion-button>
    </div>

  </div> 
  </div>
</ion-content>
