<ion-menu side="start" menuId="first" style="background: rgb(252, 184, 16);">
  <ion-header>
    <ion-toolbar class="new-background">
      <ion-title class="blackText">Los Chenchos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list> 
      <ion-item (click)="irA('/inicio')">
        <ion-icon color="pana" name="home"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Inicio</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/usuarios')">
        <ion-icon color="pana" name="people"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Usuarios</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/perfil')">
        <ion-icon color="pana" name="person"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Perfil</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/productos')">
        <ion-icon color="pana" name="apps"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Productos</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/entradas')">
        <ion-icon color="pana" name="add-circle"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">A la venta</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/salidas')">
        <ion-icon color="pana" name="remove-circle"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Vendidos</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/pedidos')">
        <ion-icon color="pana" name="calendar"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Pedidos</h6>
        </div>
      </ion-item>
      <ion-item (click)="irA('/gastos')">
        <ion-icon color="pana" name="cash"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Gastos</h6>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="pana">
      <ion-item color="pana" (click)="close('/home')">
        <ion-icon name="power"></ion-icon>
        <div style="margin-left: 4%;">
          <h6 color="warning">Cerrar Sesion</h6>
        </div>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-header>
  <ion-toolbar class="new-background">
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon name="menu" class="blackText"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="blackText padding-left-0">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-router-outlet main>

<ion-content>
  <div class="left bold padding-top-90 padding-left blackText">Hoy: 
    <ion-label>{{ fecha | date: 'dd-MM-yyyy'}}</ion-label></div>

  <div style="text-align: center; padding-left: 2%; padding-right: 2%; padding-top: 5%;"> 
    <ion-item>
      <ion-label position="stacket" class="blackText bold">No. de Venta:</ion-label>
      <ion-input [(ngModel)]="idVenta" type="number" value="{{idVenta}}" disabled></ion-input>
    </ion-item>
      
    <ion-item style="padding-top: 2%;">    
      <ion-label>Producto</ion-label>
        <ion-select [(ngModel)]="idProducto" value="nada" okText="Seleccionar" cancelText="Cancelar">
          <ion-select-option *ngFor="let producto of productos" value="{{producto.idProducto}}">{{producto.tipoProducto}}</ion-select-option>
        </ion-select>
        <ion-button expand="block" shape="round" class="center bold gris-background" (click)="mostrarP(idProducto)">Producto</ion-button>
    </ion-item>

    <ion-item style="padding-top: 2%;">
      <ion-label position="stacket">Precio: $</ion-label>
      <ion-input [(ngModel)]="precio" type="number" value="{{precio}}"></ion-input>
    </ion-item>

    <ion-item style="padding-top: 2%;">
      <ion-label position="stacket">Cantidad: </ion-label>
      <ion-input [(ngModel)]="cantidad" type="number"></ion-input>
    </ion-item>

    <div class="padding-top-30 center padding">
      <ion-button expand="block" shape="round" class="center bold gris-background" (click)="registrarVentaP(idVenta)">Añadir</ion-button>
    </div>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="center padding-top-20">
      <ion-grid>
        <ion-row>
          <ion-col class="colGris center">
            Cantidad
          </ion-col>
          <ion-col class="colGris center">
            Precio
          </ion-col>
          <ion-col class="colGris center">
            Tipo
          </ion-col>
          <ion-col class="colGris center">
            Subtotal
          </ion-col>
        </ion-row>
  
        <ion-row *ngFor="let p of prod">
          <ion-col>
            {{p.cantidad}}
          </ion-col>
          <ion-col>
            {{p.precio}}
          </ion-col>
          <ion-col>
            {{p.tipoProducto}}
          </ion-col>
          <ion-col>
            {{p.subtotal}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>  

  <div class="padding-top-30 center padding">
    <ion-button expand="block" shape="round" class="center bold gris-background" (click)="nuevaVenta(idVenta)">Compra</ion-button>
  </div>

  

 
 </ion-content>
